src/main/resources/META-INF/wsdl/configuration/ESBConfigurationService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://configuration.inline.tender.mts.ru/" xmlns:tns="http://configuration.inline.tender.mts.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getILAdapterParameters" nillable="true" type="tns:getILAdapterParameters"/>

  <xs:element name="getILAdapterParametersResponse" nillable="true" type="tns:getILAdapterParametersResponse"/>

  <xs:complexType name="getILAdapterParameters">
    <xs:sequence>
      <xs:element name="msisdn" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getILAdapterParametersResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

